<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supergao.softwere" >
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 获取运营商信息权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问运营商信息 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 访问WIFI网络信息 -->

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />


    <!-- 【必须】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 【可选】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 百度地图 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 允许应用读取低级别的系统日志文件 -->

    <!--获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!--获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--读取联系人权限，上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!--外存储写权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--外存储读权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--配置权限，用来记录应用配置信息 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!--摄相头权限，拍照需要用到 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <application android:name=".entity.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!-- 欢迎界面activity-->
        <activity android:name=".activity.WelcomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AVActivity.NoActionBar"/>
        <!-- 引导页面 -->
        <activity
            android:name=".activity.AppStart"
            android:screenOrientation="portrait"/>
        <!-- 聊天页面 -->
        <activity
            android:name=".activity.ChatRoomActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.ConversationDetailActivity"/>
        <!-- 添加好友页面 -->
        <activity android:name=".friends.ContactAddFriendActivity"/>
        <!-- 好友信息页面 -->
        <activity android:name=".friends.ContactPersonInfoActivity"/>
        <!-- 注册Activity-->
        <activity android:name=".activity.user.RegisterActivity"
            android:screenOrientation="portrait"/>

        <!-- 登录Activity-->
        <activity android:name=".activity.user.LoginActivity"
            android:screenOrientation="portrait"/>

        <!-- 重置密码Activity-->
        <activity android:name=".activity.user.ResetPwdActivity"
            android:screenOrientation="portrait"/>

        <!-- 修改密码Activity-->
        <activity android:name=".activity.user.RevisePwdActivity"
            android:screenOrientation="portrait"/>

        <!-- 协议Activity-->
        <activity android:name=".activity.LicenseActivity"
            android:screenOrientation="portrait"/>

        <!-- 用户信息Activity-->
        <activity android:name=".activity.user.UserInfoActivity"
            android:screenOrientation="portrait"/>
        <!--加载游戏网页activity-->
        <activity android:name=".activity.WebActivity"
            android:screenOrientation="portrait"/>

        <!-- 我的二维码Activity-->
        <activity android:name=".activity.user.IQRCodeActivity"
            android:screenOrientation="portrait"/>
        <!-- 我的消息Activity-->
        <!-- 我的消息详情Activity-->
        <!-- 二维码扫描Activity-->
        <activity android:name=".activity.MipcaActivityCapture"
            android:screenOrientation="portrait"/>

        <!-- 系统设置Activity-->
        <activity android:name=".activity.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light"/>
        <!-- 关于我们Activity-->
        <activity android:name=".activity.AboutUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light"/>
        <!-- 意见反馈Activity-->
        <activity android:name=".activity.FeedBackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light"/>
        <!-- 消息提醒设置Activity-->
        <activity android:name=".activity.SetMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".activity.LocationActivity"/>
        <!--邀请群人员-->
        <activity
            android:name=".activity.ConversationAddMembersActivity"
            android:label="@string/conversation_inviteMembers"/>
        <!--更改群组名称-->
        <activity android:name=".activity.UpdateContentActivity"/>
        <!--添加好友请求-->
        <activity android:name=".friends.ContactNewFriendActivity"/>
        <!--群组列表-->
        <activity
            android:name=".activity.ConversationGroupListActivity"
            android:label="@string/conversation_group"/>

        <activity android:name="com.avoscloud.leanchatlib.activity.ImageBrowserActivity" />
        <!-- 位置信息上传服务 -->
        <service android:name=".service.LocationUploadService" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="KHZ66lI6epGV6EzssDcTKT4mC76xWcyY"/><!--FSgNQv5mDyciIjkRNCKgehPG--><!--qdgGT2wl1aOFbeZfQwruDDY8-->


        <receiver android:name=".service.LeanchatReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.avoscloud.chat.INVITATION_ACTION" />
            </intent-filter>
        </receiver>

        <service android:name="com.avos.avoscloud.PushService" />

        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.NotificationBroadcastReceiver">
            <intent-filter>
                <action android:name="com.avoscloud.chat.intent.client_notification" />
            </intent-filter>
        </receiver>

        <!-- 信鸽推送接入  start -->

        <!-- 【必须】 请将YOUR_ACCESS_ID修改为APP的AccessId，“21”开头的10位数字，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_ID"
            android:value="2100169587" />

        <!-- 【必须】 请将YOUR_ACCESS_KEY修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_KEY"
            android:value="AND12K98TR4C" />

        <!-- 【必须】 信鸽receiver广播接收 -->
        <receiver
            android:name="com.tencent.android.tpush.XGPushReceiver"
            android:process=":xg_service_v2">
            <intent-filter android:priority="0x7fffffff">
                <!-- 【必须】 信鸽SDK的内部广播 -->
                <action android:name="com.tencent.android.tpush.action.SDK" />
                <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE" />
                <!-- 【必须】 系统广播：开屏和网络切换 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <!--shareSDK相关配置-->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >

            <intent-filter>
                <data android:scheme="tencent100371282" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--微信客户端回调activity-->
        <activity
            android:name=".activity.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />


        <!-- 【必须】 (2.30及以上版新增)展示通知的activity -->
        <!-- 【注意】 如果被打开的activity是启动模式为SingleTop，SingleTask或SingleInstance，请根据通知的异常自查列表第8点处理-->
        <activity
            android:name="com.tencent.android.tpush.XGPushActivity"
            android:exported="true">
            <intent-filter>
                <!-- 若使用AndroidStudio，请设置android:name="android.intent.action"-->
                <action android:name="android.intent.action" />
            </intent-filter>
        </activity>

        <!-- 【必须】 信鸽service -->
        <service
            android:name="com.tencent.android.tpush.service.XGPushService"
            android:exported="true"
            android:persistent="true"
            android:process=":xg_service_v2" />

        <!-- 【必须】 通知service，此选项有助于提高抵达率 -->
        <service
            android:name="com.tencent.android.tpush.rpc.XGRemoteService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.d3rich.trafficbiz.PUSH_ACTION" />
            </intent-filter>
        </service>
        <!-- 信鸽推送接入  end -->
    </application>

</manifest>
